/*
1.Position
2.Box Model
3. Fonts
4. Visual
5.Otros
*/
:root {
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange:#FFE9D4;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --Warm-black:#201E1C;
    --black:#211f1b;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-White:#FFFFFF;
}
*{ 
    margin: 0;  
    padding:0;
    box-sizing: border-box;
  }
  html{
      font-size: 62.5%;
      font-family: 'DM Sans', sans-serif;
  }
  /*section header*/
  header {
      position: relative;
      display: flex;
      flex-direction:column;
      width:100%;
      min-width: 320px;
      text-align: center;
      background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  }
  header img {
      width: 151px;
      height: 24px;
      margin-top:60px;
      align-self: center;
  }
  .header--tittle--container {
      width: 90%;
      min-width:288px;
      max-width: 900px;
      height:218px;
      margin-top:40px ;
      text-align: center;
      align-self: center;
  }
  .header--tittle--container h1 {
      font-size:2.4rem;
      color:var(--just-White);
      font-weight: bold;
      line-height: 2.6rem;
  }
  .header--tittle--container p {
    margin-top: 25px;
    font-size:1.4rem;    
    font-weight: 500;
    color:var(--soft-orange);
    margin-bottom: 25px;
  }
  .header--tittle--container .header--button {    
    position: absolute;
    left: calc(50% - 110px);
    top:270px;
    display: block;
    margin-top: 35px;
    padding:15px;
    width:229px;
    height: 48px;;
    background-color:var(--off-white);
    /*sombra*/
    box-shadow: 0px 5px 9px rgba(89, 73, 30, 0.16);
    border:none;
    border-radius: 4px;
    font-size:1.4rem;
    font-weight: 700;
    text-decoration: none;
    color:var(--Warm-black);
  }
  .header--button span {
      display:inline-block;
      width: 18px;
      height:18px;
      margin-left:5px;
      background-image: url("./assets/icons/arrow_down.svg");
  }
/*section main*/
main{
    width:100%;
    height: auto;
    background-color: var(--off-white);
}
/* .main-tables-container {
    display:flex;
    height: 350px;
    overflow: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
} */
.main-exchange-container {
    margin: 20px;
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--tittle{
    width:90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width:200px;
    height:200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--tittle h2{
    margin-bottom: 30px;
    color:var(--Warm-black);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}
.main-exchange-container--tittle p{
    margin-bottom: 30px;
    color:#757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
}
.main-currency-table{
    /* scroll-snap-align: center; */
    width:70%;
    min-width: 235px;
    max-width: 500px;
    height:360;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table--title{
    margin-bottom: 15px;
    font-size:1.8rem;
    font-weight: bold;
    line-height:2.3rem;
    color:var(--bitcoin-orange);
}
.currency-table--container {
    width:90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;        
} 
.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:var(--grey);
    background-color: var(--just-White);
}
.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height:15px;
    margin-left:10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height:15px;
    margin-left:10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width:190px;
    height: 30px;
    margin:0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{    
    color: var(--Warm-black);
    font-family: "Inter",sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.main-commissions-table--title{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size:1.8rem;
    font-weight: bold;
    line-height:2.3rem;
    color:var(--secondary-blue);
}
.commissions-table--container {    
    width:90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 10px;
}
.commissions-table--container table{
    width: 100%;
    height: 100%;        
} 
.commissions-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:var(--grey);
    background-color: var(--just-White);
}
.commissions-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.commissions-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.commissions-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.commissions-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.commissions-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.commissions-table--date {
    width:190px;
    height: 30px;
    margin:0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.commissions-table--date p{    
    color: var(--Warm-black);
    font-family: "Inter",sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
.main-product-detail{
    position: relative;    
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);  
}
.product-detail-batata-logo{    
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/logo-potato.svg');
    
}
.product-detail--title{
    width:90%;    
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;    
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-weight:bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;    
    color: var(--just-White);
}
 .product-detail--title {
     margin-bottom: 20px;
     font-size:1.4rem;
     font-weight: 500;
     line-height: 1.8rem;
    color: #808080;
} 
.product-detail--card{
    width:90%;
    min-width: 288px;
    max-width: 400px;
    min-height:150px;
    margin: 15px auto;
    padding: 15px;
    background-color: valor(--black);
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.16);    
}
.products-cards--container .card--image {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.products-cards--container .clock {
    background-image:url('./assets/icons/clock.svg');
}
.products-cards--container .eye {    
    background-image:url('./assets/icons/eye.svg');
}
.products-cards--container .money {    
    background-image:url('./assets/icons/dollar-sign.svg');    
}
.products-cards--container .check{
    background-image:url('./assets/icons/check-circle.svg');    
}
.product--card-title {
    margin-bottom: 15px;        
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;    
    color: var(--just-White);
}
.product--card-body{    
    width: 252px;
    height: 54px;
    font-size:1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image:url('./assets/imgs/bitcoinbaby_small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.bitcoin-img-container h2{
    padding-top: 64px;    
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--just-White);    
}
.main-plans--container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;    
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 34px;
}
.plans--title h2{
    padding-top: 50px;    
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight:bold;
    color:var(--black);
}
.plans--title p {
    padding-top: 30px;    
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575; 
}
.plans-container--card {
    position:relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 25px  0;
    padding: 0 15px;
    background-color: var(--just-White);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
    gap: 5px;
}
.card-title{ 
    position: absolute;
    scroll-snap-align: center;
    width: 120px;
    height: 31px;
    padding: 8px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-White);
    top: -15px;
    left: calc(50% - 60px);    
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.plan-card--title {
    padding: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: 'Dm Sans',sans-serif;
    color:var(--black);
}
.plan-card--price {
    padding: 8px 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);
}
.plan-card--price span {
    position:absolute;
    font-size: 1.2rem;
    top: 75px;
    left: 70px;
}
.plan-card--save{
    padding-top: 16px;
    font-size: 1.2rem;
    color: #757575;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.plan-card--call {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: var(--just-White);    
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans',sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    color:var(--black)
}
.plans--image {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/icons/button-arrow-right.svg');
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    justify-content:center;
    width: 50%;
    align-items: center;
}
.footer-left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;    
    list-style: none;    
}
.footer-left li {
    margin: 10px 0;
}
.footer-left a{
   text-decoration: none;    
   color: var(--just-White);
}
.footer-right {
    display: block;
    margin: auto;
    align-items: center;
    width: 65px;
}
.footer-right img{
    width: 100%;
    height: 50px;    
}
.footer-right p {
    font-size: 8px;
    width: 65px;
    line-height: 18px;
    font-weight: 300;
    color: var(--just-White)
}
